@import '../webfonts/molla-icon.css';
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ddd;
}
.dropdown .dropdown-content .dropdown-item {
  border-bottom: 1px solid #ececec;
}
.dropdown .dropdown-content.show {
  display: block;
  animation: slideDown 0.5s ease;
}

.wrap-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1cc0a0;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrap-promo .promo-top {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}
.wrap-promo .promo-top .promo-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}
.wrap-promo .promo-top .promo-content .promo-text {
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.03rem;
}
.wrap-promo .promo-top .promo-content .close {
  position: absolute;
  right: 0;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.wrap-header-container .container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}
.wrap-header-container .container .header-content {
  display: flex;
  flex-direction: row;
  min-height: 88px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.wrap-header-container .container .header-content .wrap-tel .header-content-tel {
  text-decoration: none;
}
.wrap-header-container .container .header-content .wrap-tel .header-content-tel:hover .icon {
  color: #29c4a6;
}
.wrap-header-container .container .header-content .wrap-tel .header-content-tel:hover .tel {
  color: #29c4a6;
}
.wrap-header-container .container .header-content .wrap-tel .header-content-tel .icon {
  font-size: 16px;
  color: #999999;
  margin-right: 5px;
}
.wrap-header-container .container .header-content .wrap-tel .header-content-tel .tel {
  font-size: 16px;
  color: #999999;
  letter-spacing: -0.04rem;
}
.wrap-header-container .container .header-content .content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrap-header-container .container .header-content .content-logo .logo {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap-header-container .container .header-content .content-logo .logo img {
  display: inline-block;
  height: auto;
  max-width: 27px;
  margin-right: 5px;
}
.wrap-header-container .container .header-content .content-logo .logo .site-text-logo {
  display: inline;
  font-size: 27px;
  font-weight: 300;
  color: #333333;
  margin: 0;
}
.wrap-header-container .container .header-content .content-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item {
  float: left;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 0;
  text-decoration: none;
  letter-spacing: -0.01rem;
  color: #999999;
  font-size: 16px;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a:hover {
  color: #29c4a6;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a .fkt-user {
  font-size: 16px;
  margin-right: 10px;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a .fkt-angle-down {
  margin-left: 10px;
  font-size: 1rem;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a .user-login {
  font-size: 16px;
}
.wrap-header-container .container .header-content .content-menu .sub-menu .sub-menu-item a .sub-menu-content {
  font-size: 16px;
}
.wrap-header-container .container .header-content .header-layout {
  flex: 1 1 0;
}

.wrap-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrap-main-menu .wrap-menu {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}
.wrap-main-menu .wrap-menu .main-menu {
  display: flex;
  flex-direction: row;
  min-height: 54px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.wrap-main-menu .wrap-menu .main-menu a {
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 24px;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .svg_icon {
  width: 2rem;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
.wrap-main-menu .wrap-menu .main-menu a .icon .circle {
  position: relative;
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #20c4a4;
  border-radius: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .circle .cartCount {
  color: #ffffff;
}
.wrap-main-menu .wrap-menu .main-menu a .header__icons--heart.icon .circle {
  display: none;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav {
  display: flex;
  flex: 1 1 0;
  height: inherit;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover {
  position: relative;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 55px;
  float: left;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover.active .menu-content {
  color: #29c4a6;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 5px);
  height: 0;
  border-top: 2px solid #29c4a6;
  transition: all 0.3s ease;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2px solid #29c4a6;
  transition: all 0.3s ease;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover:hover::before {
  width: calc(100% - 5px);
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover .menu-content {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px 22px 10px;
  color: #000000;
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover .menu-content:hover {
  color: #29c4a6;
}
.wrap-main-menu .wrap-menu .main-menu #site-nav .nav .dropdown-hover .menu-content .fa-angle-down {
  margin-left: 5px;
}
.wrap-main-menu .wrap-menu .main-menu .dropdown-hover {
  position: relative;
  display: inline-block;
}
.wrap-main-menu .wrap-menu .main-menu .dropdown-hover:hover .dropdown-content {
  display: block;
  animation: slideDown 0.5s ease;
}
.wrap-main-menu .wrap-menu .main-menu .dropdown-hover .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ddd;
}
.wrap-main-menu .wrap-menu .main-menu .dropdown-hover .dropdown-content .dropdown-item {
  border-bottom: 1px solid #ececec;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 600px;
  height: inherit;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover {
  border: 1px solid #ececec;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover #search_input {
  display: block;
  outline: none;
  border: none;
  animation: 1s slideLeft;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover .search_icon_btn .search_icon .svg_icon {
  width: 2rem;
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
.wrap-main-menu .wrap-menu .main-menu .header__icons #search_input {
  display: none;
  height: 20px;
  color: #999999;
  font-size: 1rem;
  padding: 10px 10px 10px 0;
  margin-left: 20px;
  outline: none;
  max-width: 200px;
  box-sizing: border-box;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn {
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon .svg_icon {
  width: 2rem;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}

.owl-carousel .owl-stage-outer .owl-item .carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-stage-outer .owl-item .carousel-cell img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: inherit;
}
.owl-carousel .owl-nav .owl-prev {
  width: 15px;
  height: 60px;
  position: absolute;
  top: 40%;
  margin-left: -3rem;
  display: block !important;
  border: 0px solid black;
}
.owl-carousel .owl-nav .owl-prev span {
  color: #ccc;
  font-size: 40px;
  font-weight: 200;
}
.owl-carousel .owl-nav .owl-next {
  width: 15px;
  height: 60px;
  position: absolute;
  top: 40%;
  right: -3rem;
  display: block !important;
  border: 0px solid black;
}
.owl-carousel .owl-nav .owl-next span {
  color: #ccc;
  font-size: 40px;
  font-weight: 200;
}

.slider-banner-container .wrap-slider-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel {
  height: 500px;
  width: 100%;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer {
  overflow: unset;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell {
  height: 500px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell img {
  -o-object-position: center top;
     object-position: center top;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19.5%;
  left: 14.5%;
  max-width: 730px;
  width: 100%;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-top-title {
  color: white;
  font-weight: 300;
  font-size: 24px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-content-title {
  font-weight: 600;
  color: white;
  font-size: 60px;
  letter-spacing: -0.04rem;
  margin-bottom: 5px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-end-title {
  font-weight: 200;
  color: white;
  font-size: 60px;
  letter-spacing: -0.04rem;
  margin-bottom: 15px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn {
  display: block;
  background-color: #1cc0a0;
  max-width: 200px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04rem;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn .icon {
  display: none;
  margin-left: 20px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn:hover {
  background-color: #23aa90;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn:hover .icon {
  display: inline;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-prev {
  border: 0px solid black;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-prev span {
  font-size: 60px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-next {
  display: block !important;
  border: 0px solid black;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-next span {
  font-size: 60px;
}

.slider-brand-container {
  background-color: #fafafa;
}
.slider-brand-container .wrap-slider-brand {
  height: 148px;
  max-width: 1170px;
  width: 100%;
}
.slider-brand-container .wrap-slider-brand .owl-stage-outer .owl-item .carousel-cell {
  padding: 0 45px;
}
.slider-brand-container .wrap-slider-brand .owl-stage-outer .owl-item .carousel-cell img {
  height: 148px;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-prev {
  border: 0px solid black;
  top: calc(50% - 30px);
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-prev span {
  color: #161616;
  font-size: 40px;
  font-weight: 200;
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-next {
  display: block !important;
  border: 0px solid black;
  top: calc(50% - 30px);
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-next span {
  color: #161616;
  font-size: 40px;
  font-weight: 200;
}

.banners-set-container {
  background-color: #fafafa;
  min-height: 500px;
  padding-bottom: 50px;
}
.banners-set-container .banners-set-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.banners-set-container .banners-set-layout .banners-set-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 50px;
  width: 100%;
}
.banners-set-container .banners-set-layout .banners-set-content .banners-set-title {
  color: white;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
.banners-set-container .banners-set-layout .banners-set-content .banners-set-content-title {
  color: white;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.04rem;
  line-height: 24px;
  margin-bottom: 8px;
}
.banners-set-container .banners-set-layout .banners-set-content .banners-set-end-title {
  color: white;
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 14px;
}
.banners-set-container .banners-set-layout .banners-set-content .banners-set-btn {
  display: block;
  background-color: transparent;
  max-width: 125px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04rem;
  border: 1px solid white;
  text-transform: uppercase;
}
.banners-set-container .banners-set-layout .col {
  position: relative;
  overflow: hidden;
  width: calc(33.33333% - 13.333px);
}
.banners-set-container .banners-set-layout .col img {
  width: 100%;
}
.banners-set-container .banners-set-layout .col.col1, .banners-set-container .banners-set-layout .col.col3 {
  height: 500px;
}
.banners-set-container .banners-set-layout .col.col1 img, .banners-set-container .banners-set-layout .col.col3 img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banners-set-container .banners-set-layout .col.col1 .banners-set-content, .banners-set-container .banners-set-layout .col.col3 .banners-set-content {
  top: 62%;
}
.banners-set-container .banners-set-layout .col.col1 img {
  transform: scale(1.8);
  transform-origin: 16% 30%;
}
.banners-set-container .banners-set-layout .col.col1 .banners-set-content .banners-set-btn {
  width: 100%;
  max-width: 151px;
}
.banners-set-container .banners-set-layout .col.col3 img {
  transform: scale(1.15);
  transform-origin: 25% 72%;
}
.banners-set-container .banners-set-layout .col.col3 .banners-set-content .banners-set-btn {
  width: 100%;
  max-width: 151px;
}
.banners-set-container .banners-set-layout .col.col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.banners-set-container .banners-set-layout .col.col2 .row {
  position: relative;
  width: 100%;
  height: calc(50% - 10px);
  overflow: hidden;
}
.banners-set-container .banners-set-layout .col.col2 .row img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banners-set-container .banners-set-layout .col.col2 .row .banners-set-content {
  top: 22.5%;
  width: 75%;
}
.banners-set-container .banners-set-layout .col.col2 .row .banners-set-content .banners-set-content-title {
  margin-bottom: 16px;
}
.banners-set-container .banners-set-layout .col.col2 .row .banners-set-content .banners-set-btn {
  width: 100%;
  max-width: 151px;
}
.banners-set-container .banners-set-layout .col.col2 .row.row1 {
  background-color: #3e4245;
}
.banners-set-container .banners-set-layout .col.col2 .row.row1 img {
  height: 100%;
  transform: scale(2);
  transform-origin: 45% 85%;
}
.banners-set-container .banners-set-layout .col.col2 .row.row1 .banners-set-content .banners-set-content-title {
  margin-bottom: 16px;
  line-height: 28px;
}
.banners-set-container .banners-set-layout .col.col2 .row.row1 .banners-set-content .banners-set-btn {
  width: 100%;
}
.banners-set-container .banners-set-layout .col.col2 .row.row2 {
  background-color: #a15648;
}
.banners-set-container .banners-set-layout .col.col2 .row.row2 img {
  height: 100%;
  transform: scale(4.5);
  transform-origin: 48% 8%;
}
.banners-set-container .banners-set-layout .col.col2 .row.row2 .banners-set-content {
  top: 29%;
}
.banners-set-container .banners-set-layout .col.col2 .row.row2 .banners-set-content .banners-set-content-title {
  margin-bottom: 16px;
}

.product-container .container {
  padding-bottom: 50px;
  border-bottom: 1px solid #e9e9e9;
}
.product-container .container .content-container {
  display: flex;
  flex-direction: row;
}
.product-container .container .content-container .wrap-featured-product {
  flex: 0 0 calc(25% + 5px);
  min-height: 1rem;
}
.product-container .container .content-container .wrap-featured-product .featured-product {
  overflow: hidden;
  width: calc(100% - 20px);
  position: relative;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-img {
  width: 100%;
  max-height: 450px;
  transform: scale(1.9);
  transform-origin: 33% 84%;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-recommen {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  top: 10%;
  left: 10%;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-content {
  position: absolute;
  top: 65%;
  left: 0;
  color: #ffffff;
  padding: 0 10%;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-content .feature-banner-title {
  color: #e78078;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-content .feature-banner-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-content .feature-banner-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0w;
}
.product-container .container .content-container .wrap-featured-product .featured-product .feature-banner-button {
  position: absolute;
  display: block;
  min-height: 46px;
  background-color: #29c4a6;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.product-container .container .content-container .wrap-carousel {
  flex: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}
.product-container .container .content-container .wrap-carousel .owl-carousel {
  display: block;
  position: relative;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  top: 15px;
  transition: all 0.3s ease;
}
.product-container .container .content-container .wrap-carousel .owl-carousel.active-tab {
  opacity: 1;
  height: auto;
  visibility: visible;
  display: block;
  position: relative;
  top: 0;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s;
}
.product-container .container .product {
  position: relative;
  overflow: hidden;
}
.product-container .container .product:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.product-container .container .product:hover .product_thumb .product_second_thumb {
  opacity: 1;
}
.product-container .container .product:hover .product_thumb .product_second_thumb .product_img_second {
  scale: 1.2;
}
.product-container .container .product:hover .product_thumb .add_cart {
  transform: translateY(0%);
}
.product-container .container .product:hover .product_thumb .cta_btn {
  transform: translateX(0);
  opacity: 0.8;
}
.product-container .container .product .product_thumb {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.product-container .container .product .product_thumb .product_primary_thumb {
  z-index: 1;
}
.product-container .container .product .product_thumb .product_primary_thumb .product_img_primary {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-container .container .product .product_thumb .product_second_thumb {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 11;
  transition: all 0.5s ease;
}
.product-container .container .product .product_thumb .product_second_thumb .product_img_second {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1.5s ease;
}
.product-container .container .product .product_thumb .product_badges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  z-index: 99;
  top: 6%;
  left: 6%;
}
.product-container .container .product .product_thumb .product_badges .badge {
  display: none;
  padding: 0.571rem 0.714rem;
  background-color: #29c4a6;
  color: #ffffff;
  margin-bottom: 0.357rem;
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-container .container .product .product_thumb .product_badges .badge.active {
  display: block;
}
.product-container .container .product .product_thumb .product_badges .badge.new {
  background-color: #29c4a6;
}
.product-container .container .product .product_thumb .product_badges .badge.sale {
  background-color: #29c4a6;
}
.product-container .container .product .product_thumb .product_badges .badge.sale-off {
  background-color: #ef837b;
}
.product-container .container .product .product_thumb .product_badges .badge.out-of-stock {
  background-color: #cccccc;
}
.product-container .container .product .product_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 20px;
  width: 100%;
}
.product-container .container .product .product_info .product_price.normal_price {
  color: #29c4a6;
}
.product-container .container .product .product_info .product_title {
  width: 100%;
  margin-top: 15px;
}
.product-container .container .product .product_info .product_title a {
  text-decoration: none;
  color: black;
}
.product-container .container .product .product_info .product_title a:hover {
  color: #29c4a6;
}
.product-container .container .product .product_info .ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  color: #ccc;
  text-overflow: ellipsis;
  margin: 1rem 0 0 0;
}
.product-container .container .product .product_info .ratings-container .ratings-star {
  position: relative;
  margin: 0 0.5rem 0 0;
}
.product-container .container .product .product_info .ratings-container .ratings-star .icon {
  padding: 0;
  margin: 0;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill {
  position: absolute;
  top: 0;
  left: 0;
  color: #fcb941;
  overflow: hidden;
  width: 0;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-0-5 {
  width: 10%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-1-0 {
  width: 20%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-1-5 {
  width: 30%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-2-0 {
  width: 40%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-2-5 {
  width: 50%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-3-0 {
  width: 60%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-3-5 {
  width: 70%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-4-0 {
  width: 80%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-4-5 {
  width: 90%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill.star-5-0 {
  width: 100%;
}
.product-container .container .product .product_info .ratings-container .ratings-star .star-fill .icon {
  padding: 0;
  margin: 0;
}
.product-container .container .product .product_info .ratings-container .rating-text {
  color: #999999;
}
.product-container .container .product .product_info .product_color {
  margin-top: 15px;
}
.product-container .container .product .product_info .product_color .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin: 0.3rem;
  transition: box-shadow 0.3s ease, opacity 0.3s;
}
.product-container .container .product .product_info .product_color .color.brown {
  background-color: #b87145;
}
.product-container .container .product .product_info .product_color .color.black {
  background-color: #000000;
}
.product-container .container .product .product_info .product_color .color.brown-gray {
  background-color: #6b5f3f;
}
.product-container .container .product .product_info .product_color .color.yellow {
  background-color: #e5dcb1;
}
.product-container .container .product .product_info .product_color .color.light_blue {
  background-color: #72a6d8;
}
.product-container .container .product .product_info .product_color .color.gray {
  background-color: #464646;
}
.product-container .container .product .product_info .product_color .color:hover {
  box-shadow: 0 0 0 0.1rem #cccccc;
}
.product-container .container .product .product_info .product_color .color.active {
  box-shadow: 0 0 0 0.1rem #cccccc;
}
.product-container .container .product .cta_btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 15%;
  height: 45%;
  max-height: 150px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}
.product-container .container .product .cta_btn .wrap_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.product-container .container .product .cta_btn .wrap_btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 500px;
  cursor: pointer;
}
.product-container .container .product .cta_btn .wrap_btn .icon:hover {
  background-color: #cccccc;
}
.product-container .container .product .add_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  line-height: 40px;
  z-index: 13;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #29c4a6;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  transform: translateY(100%);
  transition: all 0.35s ease;
}
.product-container .container .product .add_cart .icon {
  font-size: 1.4rem;
  opacity: 0;
  transform: translateX(-25px);
  font-weight: normal;
  line-height: 1;
  transition: all 0.35s ease;
}
.product-container .container .product .add_cart .add-cart-content {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: all 0.35s ease;
}
.product-container .container .product .add_cart:hover {
  background-color: #23aa90;
}
.product-container .container .product .add_cart:hover .icon {
  opacity: 1;
  transform: translateX(0);
}
.product-container .container .product .add_cart:hover .add-cart-content {
  padding-left: 0.71rem;
  letter-spacing: -0.01em;
}
.product-container .container .product.sale {
  text-decoration: none;
}
.product-container .container .product.sale .product_thumb .sale_badge {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 12;
  padding: 5px 8px;
  background-color: #cc9966;
  color: white;
}
.product-container .container .product.sale .product_info .product_price_sale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.product-container .container .product.sale .product_info .product_price_sale .now_price {
  color: #f19791;
  margin-right: 0.5rem;
}
.product-container .container .product.sale .product_info .product_price_sale .before_sale {
  text-decoration: line-through;
  color: #cccccc;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 30px;
}
.header-container .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.04rem;
}
.header-container .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header-container .tabs .tab-1 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 12px;
  letter-spacing: -0.02rem;
  line-height: 26px;
  margin-right: 4px;
  cursor: pointer;
}
.header-container .tabs .tab-1.active {
  color: #1cc0a0;
  border-bottom: 1px solid #1cc0a0;
}
.header-container .tabs .tab-1:hover {
  color: #1cc0a0;
}
.header-container .tabs .tab-2 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 12px;
  line-height: 26px;
  letter-spacing: -0.02rem;
  cursor: pointer;
}
.header-container .tabs .tab-2.active {
  color: #1cc0a0;
  border-bottom: 1px solid #1cc0a0;
}
.header-container .tabs .tab-2:hover {
  color: #1cc0a0;
}

.services_container {
  min-height: 80px;
}
.services_container.bottom {
  min-height: 140px;
}
.services_container.dark-bg {
  background-color: #333333;
}
.services_container .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services_container .container .wrap_service_item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  flex: 1 1 0;
}
.services_container .container .wrap_service_item .service_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.services_container .container .wrap_service_item .service_item i {
  font-size: 40px;
  margin-right: 18px;
}
.services_container .container .wrap_service_item .service_item i.top {
  color: #4d4d4d;
}
.services_container .container .wrap_service_item .service_item i.bottom {
  color: #cccccc;
}
.services_container .container .wrap_service_item .service_item .banner_icon_content .item_title {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
}
.services_container .container .wrap_service_item .service_item .banner_icon_content .item_title.black-gray {
  color: #333333;
}
.services_container .container .wrap_service_item .service_item .banner_icon_content .item_subtitle {
  color: #999999;
  font-weight: 300;
  font-size: 14px;
}

.register-letter-container {
  min-height: 265px;
  background-color: #fafafa;
}
.register-letter-container .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register-letter-container .container .letter_wrap_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register-letter-container .container .letter_wrap_content .register_letter_title {
  font-size: 24.07px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.register-letter-container .container .letter_wrap_content .register_letter_content {
  color: #999999;
  font-size: 16.05px;
  font-weight: 300;
  margin-bottom: 1.9rem;
}
.register-letter-container .container .letter_wrap_content .register_letter_content .coupon {
  color: #333333;
}
.register-letter-container .container .register_letter_email {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #ffffff;
}
.register-letter-container .container .register_letter_email #input_register_email {
  height: auto;
  padding: 15px 20px;
  background: #fff;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  color: #999999;
  border: 1px solid #dadada;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}
.register-letter-container .container .register_letter_email .subscribe {
  height: auto;
  background-color: #1cc0a0;
  color: #ffffff;
  text-align: center;
  padding: 1.15rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  border-radius: 0;
  line-height: 1.5;
  cursor: pointer;
}
.register-letter-container .container .register_letter_email .subscribe:hover {
  background-color: #23aa90;
}

.follow-us-container {
  min-height: 320px;
  width: 100%;
}
.follow-us-container .owl-carousel .carousel-cell {
  position: relative;
  transition: all 3s ease;
}
.follow-us-container .owl-carousel .carousel-cell img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.follow-us-container .owl-carousel .carousel-cell .background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000000;
  transition: all 0.3s ease;
}
.follow-us-container .owl-carousel .carousel-cell .background .icon {
  color: white;
  font-size: 30px;
  transform: scale(3) rotate(90deg);
  transition: all 0.3s ease;
}
.follow-us-container .owl-carousel .carousel-cell:hover .background {
  opacity: 0.3;
}
.follow-us-container .owl-carousel .carousel-cell:hover .background .icon {
  transform: scale(1);
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .footer-main {
  background-color: #333333;
}
.footer .footer-main .container {
  min-height: 315px;
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: #999999;
}
.footer .footer-main .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}
.footer .footer-main .container .row .cols {
  flex: 1 1 0;
}
.footer .footer-main .container .row .cols.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.footer .footer-main .container .row .cols.about .logo {
  margin-bottom: 30px;
}
.footer .footer-main .container .row .cols.about .logo img {
  max-width: 28px;
  height: auto;
  margin-right: 10px;
}
.footer .footer-main .container .row .cols.about .logo .text-logo {
  font-size: 27px;
  font-weight: 300;
  color: #ffffff;
}
.footer .footer-main .container .row .cols.about .descriptons {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  color: #636363;
  margin-bottom: 45px;
}
.footer .footer-main .container .row .cols.about .wrap-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-main .container .row .cols.about .wrap-info .tel {
  flex: 1 1 0;
}
.footer .footer-main .container .row .cols.about .wrap-info .tel .title {
  font-size: 13px;
  font-weight: 300;
  color: #29c4a6;
  margin-bottom: 1rem;
}
.footer .footer-main .container .row .cols.about .wrap-info .tel .phone-number {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.footer .footer-main .container .row .cols.about .wrap-info .payment-method {
  flex: 1 1 0;
}
.footer .footer-main .container .row .cols.about .wrap-info .payment-method .title {
  font-size: 13px;
  font-weight: 300;
  color: #29c4a6;
  margin-bottom: 1rem;
}
.footer .footer-main .container .row .cols.about .wrap-info .payment-method img {
  width: 100%;
  height: auto;
}
.footer .footer-main .container .row .cols.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}
.footer .footer-main .container .row .cols.nav-menu .nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .footer-main .container .row .cols.nav-menu .nav .title {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 28px;
}
.footer .footer-main .container .row .cols.nav-menu .nav .nav-link {
  display: block;
  text-decoration: none;
  color: #636363;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
}
.footer .footer-bottom {
  background-color: #333333;
}
.footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 80px;
  color: #999999;
}
.footer .footer-bottom .container .terms,
.footer .footer-bottom .container .policy {
  color: #999999;
}
.footer .footer-bottom .container .social_media .social_media_item {
  margin-left: 20px;
}
.footer .footer-bottom .container .social_media .social_media_item.facebook {
  color: #8f79ed;
}
.footer .footer-bottom .container .social_media .social_media_item.twitter {
  color: #79c8ed;
}
.footer .footer-bottom .container .social_media .social_media_item.instagram {
  color: #dd6d9a;
}
.footer .footer-bottom .container .social_media .social_media_item.youtube {
  color: #e66262;
}
.footer .footer-bottom .container .social_media .social_media_item.pinterest {
  color: #e66262;
}/*# sourceMappingURL=style.css.map */