@import '../webfonts/molla-icon.css';
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.full-width {
  width: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ddd;
}
.dropdown .dropdown-content .dropdown_item {
  border-bottom: 1px solid #ececec;
}
.dropdown .dropdown-content.show {
  display: block;
  animation: slideDown 0.5s ease;
}

.wrap-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1cc0a0;
}
.wrap-promo .promo-top {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}
.wrap-promo .promo-top .promo-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}
.wrap-promo .promo-top .promo-content .promo-text {
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.03rem;
}
.wrap-promo .promo-top .promo-content .close {
  position: absolute;
  right: 0;
  color: white;
}

.wrap-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrap-header .wrap-header-content {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}
.wrap-header .wrap-header-content .header-content {
  display: flex;
  flex-direction: row;
  min-height: 88px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.wrap-header .wrap-header-content .header-content .wrap_tel .header-content-tel {
  display: inline;
  color: #999999;
  text-decoration: none;
}
.wrap-header .wrap-header-content .header-content .wrap_tel .header-content-tel:hover {
  color: #29c4a6;
}
.wrap-header .wrap-header-content .header-content .wrap_tel .header-content-tel:hover .tel {
  color: #29c4a6;
}
.wrap-header .wrap-header-content .header-content .wrap_tel .header-content-tel .tel {
  margin-left: 5px;
  color: #999999;
  letter-spacing: 0.04rem;
}
.wrap-header .wrap-header-content .header-content .header__content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrap-header .wrap-header-content .header-content .header__content-logo .site-text-logo {
  margin: 0 0 0 5px;
  font-size: 24px;
  font-weight: 500;
}
.wrap-header .wrap-header-content .header-content .header__content-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item {
  float: left;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 0;
  text-decoration: none;
  color: #999999;
  height: 20px;
  letter-spacing: 0.07rem;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a:hover {
  color: #29c4a6;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a:hover .sub_menu_item--user_login_icon {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a .user_login {
  margin-left: 10px;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a .sub_menu_item--user_login_icon {
  width: 1rem;
}
.wrap-header .wrap-header-content .header-content .header__content-menu .sub_menu .sub_menu_item a .fa-angle-down {
  margin-left: 10px;
}
.wrap-header .wrap-header-content .header-content .header_layout {
  flex: 1 1 0;
}

.wrap-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrap-main-menu .wrap-menu {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}
.wrap-main-menu .wrap-menu .main-menu {
  display: flex;
  flex-direction: row;
  min-height: 54px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.wrap-main-menu .wrap-menu .main-menu a {
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 24px;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .svg_icon {
  width: 2rem;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
.wrap-main-menu .wrap-menu .main-menu a .icon .circle {
  position: relative;
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #20c4a4;
  border-radius: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-main-menu .wrap-menu .main-menu a .icon .circle .cartCount {
  color: #ffffff;
}
.wrap-main-menu .wrap-menu .main-menu a .header__icons--heart.icon .circle {
  display: none;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav {
  display: flex;
  flex: 1 1 0;
  height: inherit;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover {
  position: relative;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 55px;
  float: left;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover.active .menu_content {
  color: #29c4a6;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 5px);
  height: 0;
  border-top: 2px solid #29c4a6;
  transition: all 0.3s ease;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2px solid #29c4a6;
  transition: all 0.3s ease;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover:hover::before {
  width: calc(100% - 5px);
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover .menu_content {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px 22px 10px;
  color: #000000;
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover .menu_content:hover {
  color: #29c4a6;
}
.wrap-main-menu .wrap-menu .main-menu #site_nav .nav .dropdown_hover .menu_content .fa-angle-down {
  margin-left: 5px;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 600px;
  height: inherit;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover {
  border: 1px solid #ececec;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover #search_input {
  display: block;
  outline: none;
  border: none;
  animation: 1s slideLeft;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .wrap_search:hover .search_icon_btn .search_icon .svg_icon {
  width: 2rem;
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
.wrap-main-menu .wrap-menu .main-menu .header__icons #search_input {
  display: none;
  height: 20px;
  color: #999999;
  font-size: 1rem;
  padding: 10px 10px 10px 0;
  margin-left: 20px;
  outline: none;
  max-width: 200px;
  box-sizing: border-box;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn {
  text-decoration: none;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon .svg_icon {
  width: 2rem;
}
.wrap-main-menu .wrap-menu .main-menu .header__icons .search_icon_btn .search_icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}

.services_container {
  background-color: #333333;
  min-height: 80px;
}
.services_container .container .list_service {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.services_container .container .list_service .service_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0;
}
.services_container .container .list_service .service_item:nth-child(2), .services_container .container .list_service .service_item:nth-child(3), .services_container .container .list_service .service_item:nth-child(4) {
  margin-left: 20px;
}
.services_container .container .list_service .service_item .wrap_banner_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.services_container .container .list_service .service_item .wrap_banner_icon .banner_icon_content {
  margin-left: 20px;
}
.services_container .container .list_service .service_item .wrap_banner_icon .banner_icon_content .item_title {
  color: white;
}
.services_container .container .list_service .service_item .wrap_banner_icon .banner_icon_content .item_subtitle {
  color: #999999;
}

.owl-carousel .owl-stage-outer .owl-item .carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-stage-outer .owl-item .carousel-cell img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: inherit;
}
.owl-carousel .owl-nav .owl-prev {
  width: 15px;
  height: 60px;
  position: absolute;
  top: 40%;
  margin-left: -3rem;
  display: block !important;
  border: 0px solid black;
}
.owl-carousel .owl-nav .owl-prev span {
  color: #ccc;
  font-size: 40px;
  font-weight: 200;
}
.owl-carousel .owl-nav .owl-next {
  width: 15px;
  height: 60px;
  position: absolute;
  top: 40%;
  right: -3rem;
  display: block !important;
  border: 0px solid black;
}
.owl-carousel .owl-nav .owl-next span {
  color: #ccc;
  font-size: 40px;
  font-weight: 200;
}

.slider-banner-container .wrap-slider-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel {
  height: 500px;
  width: 100%;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer {
  overflow: unset;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell {
  height: 500px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell img {
  -o-object-position: center top;
     object-position: center top;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19.5%;
  left: 14.5%;
  max-width: 730px;
  width: 100%;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-top-title {
  color: white;
  font-weight: 300;
  font-size: 24px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-content-title {
  font-weight: 600;
  color: white;
  font-size: 60px;
  letter-spacing: -0.04rem;
  margin-bottom: 5px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-end-title {
  font-weight: 200;
  color: white;
  font-size: 60px;
  letter-spacing: -0.04rem;
  margin-bottom: 15px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn {
  display: block;
  background-color: #1cc0a0;
  max-width: 200px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04rem;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn .icon {
  display: none;
  margin-left: 20px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn:hover {
  background-color: #23aa90;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-stage-outer .owl-item .carousel-cell .banner-text .banner-btn:hover .icon {
  display: inline;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-prev {
  border: 0px solid black;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-prev span {
  font-size: 60px;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-next {
  display: block !important;
  border: 0px solid black;
}
.slider-banner-container .wrap-slider-banner .wrap-owl-carousel .owl-nav .owl-next span {
  font-size: 60px;
}

.slider-brand-container .wrap-slider-brand {
  height: 150px;
  background-color: #ffffff;
  max-width: 1170px;
  width: 100%;
}
.slider-brand-container .wrap-slider-brand .owl-stage-outer .owl-item .carousel-cell {
  padding: 0 30px;
}
.slider-brand-container .wrap-slider-brand .owl-stage-outer .owl-item .carousel-cell img {
  height: 150px;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-prev {
  border: 0px solid black;
  top: calc(50% - 30px);
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-prev span {
  color: #161616;
  font-size: 40px;
  font-weight: 200;
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-next {
  display: block !important;
  border: 0px solid black;
  top: calc(50% - 30px);
}
.slider-brand-container .wrap-slider-brand .owl-nav .owl-next span {
  color: #161616;
  font-size: 40px;
  font-weight: 200;
}

.banners-set-container {
  min-height: 500px;
}
.banners-set-container .banners-set-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.banners-set-container .banners-set-layout .col {
  width: calc(33.33333% - 13.333px);
}
.banners-set-container .banners-set-layout .col img {
  width: 100%;
  max-height: 500px;
}
.banners-set-container .banners-set-layout .col.col1, .banners-set-container .banners-set-layout .col.col3 {
  position: relative;
}
.banners-set-container .banners-set-layout .col.col1 .banners-set-content, .banners-set-container .banners-set-layout .col.col3 .banners-set-content {
  position: absolute;
  top: 10%;
}/*# sourceMappingURL=style.css.map */